<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <!-- ... -->
</head>
<body>
  <center>
    <img src="{{ href }}" height="600" />
    <form method="POST">
        <label for="text"> Input a comma-separated list of age values: </label>
        <input class="shadow appearance-none border rounded w-ful" name="text" />
        <br/>
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" />
    </form>
  </center>
</body>
</html>